h1 {text-align: center;}

#wrapper {
    width: 1000px;
    height: 600px;
  
    display:grid;
    grid-template-columns: 50% 50%;
grid-gap:1em;
    }

#stack {
   

     }

#stack1 {

    }


#stack2 {
    

    }


#stack3 {
   
    }

#stack4 {
   
    }


#stack5 {
    
    }
